body {
    background: url(img/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Playfair Display", Georgia, serif;
}

p {
    color: antiquewhite;
    font-size: 3em;
    text-align: center;
}

.img {
    text-align: center;
}

img {
    border-radius: 50%;
}

.login {
    text-align: center;
}

input {
    width: 400px;
    height: 40px;
    border-radius: 30px;
    background-color: aliceblue;
}

div {
    padding-bottom: 10px;
}

.btn {
    width: 400px;
    height: 35px;
    border-radius: 30px;
    background-color: darkslategrey;
    color: aliceblue;
}

.btn:hover {
    color: darkslategrey;
    background-color: aliceblue;
}

.sign {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

;

a:hover {
    text-decoration: underline;
    color: black
}
